{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render
  - slides_per_view_desktop: {Number} Number of slides to show on desktop
  - slides_per_view_tablet: {Number} Number of slides to show on tablet
  - slides_per_view_mobile: {Number} Number of slides to show on mobile
  - space_between: {Number} Space between slides in pixels
  - show_pagination: {Boolean} Whether to show pagination dots
  - show_navigation: {Boolean} Whether to show navigation arrows

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{{ 'component-swiper.css' | asset_url | stylesheet_tag }}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  if limit == 1
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign slides_per_view_mobile = section.settings.slides_per_view_mobile
  assign slides_per_view_tablet = section.settings.slides_per_view_tablet
  assign slides_per_view_desktop = section.settings.slides_per_view_desktop

  assign space_between = section.settings.space_between | default: 10

  assign show_navigation = section.settings.show_navigation
  assign show_pagination = section.settings.show_pagination
-%}

<media-gallery
  id="MediaGallery-{{ section.id }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>

  <div class="swiper product-gallery-swiper">
    <div class="swiper-wrapper">
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <div
          class="swiper-slide"
          id="Slide-{{ section.id }}-{{ featured_media.id }}"
          data-media-id="{{ section.id }}-{{ featured_media.id }}"
        >
          {% render 'product-thumbnail',
            media: featured_media,
            media_count: media_count,
            position: 1,
            desktop_layout: section.settings.gallery_layout,
            mobile_layout: section.settings.mobile_thumbnails,
            loop: section.settings.enable_video_looping,
            modal_id: section.id,
            xr_button: true,
            media_width: media_width,
            media_fit: section.settings.media_fit,
            constrain_to_viewport: section.settings.constrain_to_viewport,
            lazy_load: false
          %}
        </div>
      {%- endif -%}

      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <div
            class="swiper-slide"
            id="Slide-{{ section.id }}-{{ media.id }}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {%
              render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: forloop.index | plus: 1,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: true
            %}
          </div>
        {%- endunless -%}
      {%- endfor -%}
    </div>

    {%- if show_navigation == true -%}
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    {%- endif -%}

    {%- if show_pagination == true -%}
      <div class="swiper-pagination"></div>
    {%- endif -%}
  </div>

  {%- if first_3d_model -%}
    <button
      class="button button--full-width product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      <span class="svg-wrapper">
        {{- 'icon-3d-model.svg' | inline_asset_content -}}
      </span>
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      new Swiper('.product-gallery-swiper', {
        slidesPerView: {{ slides_per_view_mobile }},
        spaceBetween: {{ space_between }},
        {% if show_navigation == true %}
          navigation: {
          enabled: {% if show_navigation %}true{% else %}false{% endif %},
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        {% endif %}

        pagination: {
          enabled: {% if show_pagination %}true{% else %}false{% endif %},
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          768: {
            slidesPerView: {{ slides_per_view_tablet }}
          },
          1024: {
            slidesPerView: {{ slides_per_view_desktop }}
          }
        }
      });
    });
  </script>
</media-gallery>
